@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body {
    padding : 0 ; 
    margin : 0;
    font-family: "Raleway", sans-serif;

}

h1{
  display: flex;
  
}

.page-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 254, 254);
    border-radius: 12px;
    z-index: 1000;
    padding: 0;
    margin: 0;
    width: 100%;
    height:10vh;
    align-items: center;
  
  }
  .active-link{
    color:  rgb(23, 201, 23);
  
  }
  .navbar ul.sections li a.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%; 
    height: 2px; 
    background-color: rgb(23, 201, 23); 
    visibility: visible;
  }
  .cart-menu{
    padding-right: 5vw;
  }
  
   .current-cart{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 99999;
    right: 5vw;
    border: 1px solid black;
    min-height: 20vh;
    width: 30vw;
    height: 50vh;
    background-color: rgb(255, 246, 246) ;
    border: #ddd;
    
  }
  .current-cart strong{
    padding-left: 1rem;
  }
  .cart-item{
    display: flex;
    flex-direction: row;
  }
  .cart-items{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-inline-end: 5px ;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 30vh;
    scrollbar-width: none;

  }

  .cart-items p {
    padding: 0;
    margin: 0;
  }
  .cart-items li{
    height: 22vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 0.5rem;
    
  }
  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 100%;
    font-size: 0.8rem;
    gap: 10px;
  }
  
  .item-details p {
    margin: 0;
    font-weight: bold;
  }
  
  .cart-attributes {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .cart-attribute {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
  }
  .attribute-options{
    display: flex;
    flex-direction: row;
  }
  
  .cart-attribute p {
    margin: 0;
    font-weight: bold;
  }
  
  .cart-attribute-box {
    width: 20px;
    height: 20px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
    
  }
  
  .cart-attribute-box.selected {
    background-color: black;
    color: white;
  }
  
  .cart-attribute-color {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-left: 5px;
  }
  
  .cart-attribute-color.selected {
    outline: 2px solid green;
    outline-offset: 3px;
  }
  .cart-attribute-options{
    flex-direction: row;
  }
  .quantity-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
  }
  
  .quantity-control button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .quantity-control button:hover {
    background-color: #e0e0e0;
  }
  
  .quantity-control span {
    font-weight: bold;
  }
  

  .cart-img{
    align-self: center;
    height: 50% ;
    aspect-ratio: 1/1;
    
  }

  #cart{
    text-decoration: none;
    border-style: none;
    background-color: white;
    width: 3vw;
    height: 3vh;
    position: relative;
  }

  #cart img{
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

  }


#cart-counter{
  position: absolute;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  align-content: center;
  height: 20px;
  top: -30%;
  right: 0;
  width: 20px;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  z-index: 10000;
-moz-user-focus: normal;
}


  #place-order-btn{
    position: absolute;
    bottom: 0;
    background-color:rgb(94, 206, 123);
    border: none;
    height: 5vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
  }

 #cart[data-cart-status = "open"] + .current-cart{
  display: block;
  padding: 0;
 }

 #cart[data-cart-status = "closed"] + .current-cart{
  display: none;
 }


  .navbar ul.sections li {
    position: relative;
    text-decoration: none; 
}

.navbar ul.sections li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%; 
    height: 2px; 
    background-color: rgb(23, 201, 23); 
    visibility: hidden; 
}

.navbar ul.sections li a:hover::after {
    visibility: visible; /* Show the line on hover */
}

  
.error-text {
  margin-top: 5px;
  font-size: 0.9rem;
  color: red;
}

  
  .sections{
    display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
  }

  a{
    text-decoration: none;
    color: black;
    font-size: 26px;
  }

  #logo{
    height: 69px;
    width: 69px;
  }


  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    justify-self: center ;
    gap: 15px;
  }
  
  .product-card {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    height: 40vh;
    width: 15vw;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 10 / 10;
  }
  
  .product-card h3 {
    margin: 10px 0;
    
  }
  
  .product-card p {
    font-size: 18px;
    color: green;
  }  

  .product-image{
    position: relative;
    
  }

  .out-of-stock {
    opacity: 40%;
  }

  p.out-of-stock-text{
    position: absolute;
    font-weight: bold;
    right: 50%;
    top: 50%;
    transform: translate3d(50% , -50% , 0);
    font-weight: bold;
    font-size: 2rem;
  }



  .product{
    display: flex;
    gap: 5rem ;
    justify-content: center;
    width: 100% ;
    height: 80vh;
  }


  .product-gallery{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 50vh;
    width: auto;
    list-style: none;
    overflow-y: scroll;
   scrollbar-width: none;    
   align-self: center;
}

  .product-gallery li{
    height: fit-content;
    width: 10vw ;

  }
  .product-gallery li img{
    height: 15vh;
    aspect-ratio: 2/1;
  }
  .product-details{
    align-self: center;
    width: 30vw;
    display: flex;
    flex-direction: column;


  }
  .product-current-image{
    align-self:center ;
    height: 50vh ;
    aspect-ratio: 10 /10;
  }

 .product-image{
  position: relative;
  align-self: center;
 }

  .img-button{
    border-style: none;
    background: none;
  }

  .left-button{
    position: absolute;
    left: 2%;
    top: 50%;
    z-index: 100;
    color: white;
    background-color: #434343;
    font-size: 1.5rem;
    border-style: none;
    opacity: 0.8;
  }
  .right-button{
    position: absolute;
    right: 2%;
    top: 50%;
    z-index: 100;
    color: white;
    background-color: #434343;
    font-size: 1.5rem;
    border-style: none;
    opacity: 0.8;



  }



  .product-add-button{
 
    background-color:rgb(94, 206, 123);
    border: none;
    height: 5vh;
    width: 15vw;
    padding: 0;
    margin: 0;
    color: white;
  }
  .product-add-button:disabled {
    background-color: #d3d3d3; 
    color: #a9a9a9; 
    cursor: not-allowed;
  }
  .attributes{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .attributes-items{
    display: flex;
    flex-direction: row;
  }
  .bg-grey.active {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey background */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity:  0.5;
  }
  .attribute-items {
    display: flex;
    gap: 10px;
  }
  
  .attribute-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 59px;
  }
  
  .radio-input {
    display: none;
  }
  
  .default-item {
    background-color: white;
    color: black;
  }
  
  .default-item:hover,
  .default-item.selected {
    background-color: black;
    color: white;
  }
  
  .color-item {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .color-item:hover {
    opacity: 0.8;
  }
  
  .color-item.selected {
    outline: 2px solid rgb(94, 206, 123); 
    outline-offset: 3px; 
  }
  
  .color-item.selected:hover {
    outline-offset: 5px; 
  }


  
  .quick-shop-btn {
    position: absolute;
    top: 65%;
    right: 5%;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
    z-index: 10; 
  }
  
  .quick-shop-btn img {
    width: 60%; 
  }
  
  .product-card:hover .quick-shop-btn {
    opacity: 1; 
  }
  
  .product-card .out-of-stock .quick-shop-btn {
    display: none; 
  }
  
 
  