body {
    padding : 0 ; 
    margin : 0
}

h1{
  display: flex;
  
}

.page-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

/* navbar styling */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 254, 254);
    border-radius: 12px;
    z-index: 1000;
    padding: 0;
    margin: 0;
    width: 100%;
    height:10vh;
    align-items: center;
  
  }
  .cart-menu{
    padding-right: 5vw;
  }
  
   .current-cart{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 99999;
    right: 5vw;
    border: 1px solid black;
    min-height: 20vh;
    width: 30vw;
    height: 50vh;
    padding: 0;
    background-color: gray ;
    
  }
  .cart-items{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline-end: 5px ;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 30vh;
    scrollbar-width: none;

  }

  .cart-items p {
    padding: 0;
    margin: 0;
  }
  .cart-items li{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    padding: 0;
  }
  .item-details {
    width: 15rem;
    display: flex;
    flex-direction: column;

  }

  .cart-img{
    height: 8vh ;
    aspect-ratio: 1/1;
    
  }

  #cart{
    text-decoration: none;
    border-style: none;
    background-color: white;
    width: 3vw;
    height: 3vh;
    position: relative;
  }

  #cart img{
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

  }


#cart-counter{
  position: absolute;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  align-content: center;
  height: 20px;
  top: -30%;
  right: 0;
  width: 20px;
font-size: 1rem;
padding: 0;
margin: 0;
z-index: 10000;
-moz-user-focus: normal;
}


  #place-order-btn{
    position: absolute;
    bottom: 0;
    background-color: rgb(6, 255, 6);
    border: none;
    height: 5vh;
    width: 100%;
    padding: 0;
    margin: 0;

  }

 #cart[data-cart-status = "open"] + .current-cart{
  display: block;
  padding: 0;
 }

 #cart[data-cart-status = "closed"] + .current-cart{
  display: none;
 }


  .navbar ul.sections li a {
    position: relative;
    text-decoration: none; /* Optional: Remove default underline */
    color: inherit; /* Keeps text color the same */
}

.navbar ul.sections li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust space between text and line */
    width: 100%; /* Full underline width */
    height: 2px; /* Line thickness */
    background-color: rgb(23, 201, 23); /* Line color */
    visibility: hidden; /* Hide line by default */
}

.navbar ul.sections li a:hover::after {
    visibility: visible; /* Show the line on hover */
}

  
  
  
  .sections{
    display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
  /* padding-left: 100px; */
  }

  a{
    text-decoration: none;
    color: black;
    font-family: 'Garamond';
    font-size: 26px;
  }

  #logo{
    height: 69px;
    width: 69px;
  }



    /* main body styling  */

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    justify-self: center ;
    gap: 15px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    height: 40vh;
    width: 15vw;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 10 / 10;
  }
  
  .product-card h3 {
    margin: 10px 0;
    
  }
  
  .product-card p {
    font-size: 18px;
    color: green;
  }  

  .product-image{
    position: relative;
    
  }

  .out-of-stock {
    opacity: 40%;
  }

  p.out-of-stock-text{
    position: absolute;
    font-weight: bold;
    right: 50%;
    top: 50%;
    transform: translate3d(50% , -50% , 0);
    font-weight: bold;
    font-size: 2rem;
  }



  .product{
    display: flex;
    gap: 5rem ;
    justify-content: center;
    width: 100% ;
    height: 80vh;
  }


  .product-gallery{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 50vh;
    list-style: none;
    overflow-y: scroll;
   scrollbar-width: none;    
   align-self: center;
}

  .product-gallery li{
    height: fit-content;
    width: 10vw ;

  }
  .product-gallery li img{
    height: 15vh;
    aspect-ratio: 2/1;
  }
  .product-details{
    align-self: center;
    width: 30vw;

  }
  .product-current-image{
    align-self:center ;
    height: 50vh ;
    aspect-ratio: 10 /10;
  }


  .attributes{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .attributes-items{
    display: flex;
    flex-direction: row;
  }