body {
    padding : 0 ; 
    margin : 0
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    border-radius: 12px;
    z-index: 1000;
    padding: 0;
    margin: 0;
    width: 100%;
  
  }
  .sections{
    display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
  padding: 10px;
  }
  a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }